*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.starbody{
    width: 100%;
    height: 100vh;
    background-image: url(../Components/shopImage/White.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}